@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display&display=swap');

div.container-fluid{
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.header{
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
  color:white;
}
h1{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 60px;
  padding-top: 3%;
}
.header img{
    width:80px;
    height:90px; 
    padding-bottom: 40px;
}
.row{
  padding: 3%;
}
.col-md-1{
  padding: 0;
}
.col-md-5{
  padding-bottom: 3%;
}