@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display&display=swap');

div.container-fluid{
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.header{
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
  color:white;
}
h1{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 60px;
  padding-top: 3%;
}
.header img{
    width:80px;
    height:90px; 
    padding-bottom: 40px;
}
.row{
  padding: 3%;
}
.blockquote {
  font-size: 1rem;
}
button{
padding: 2px;
}
.card{
  margin:3%;
  width: 20rem;
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  transition: all 0.2s ease-in-out;
}
.card:hover{
  transform: translateY(-7px);
}
.cards{ /*allows for cards to append side by side*/
  display: flex;
  flex-wrap: wrap;
}
.small{
  cursor: pointer;
}